@import "../../../../index.scss";

@mixin size {
  width: 304px;
  height: 96px;
  background: $color-white;
  display: inline-block;
  border-radius: 8px;
  padding: 3px 10px 0px 7px;
  box-shadow: 0px 3px 6px #00000029;
}

.CardNodeGrandFather {
  @include size;
  border: 1px solid;
}

.CardNodeFather {
  @include size;
  border-left: 15px solid $color-base;
  margin-left: 50px;
}

.CardNodeGrandChild {
  @include size;
  border-left: 8px solid $color-base;
}

.CardNodeGrandChildhide {
  width: 270px;
  height: 200px;
  display: none;
}

.CardNodeGrandChildShow {
  width: 350px;
  height: 200px;
  display: inline-block;
  margin-left: 130px;
}

.line {
  float: left;
  margin-left: -50px;
  margin-top: -150px;
}
