@import "../../index.scss";

.custom {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  .message {
    width: 24vw;
    text-align: center;
  }
}

.carruselItem {
  margin-top: -15px;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 2px 10px !important;
  font-size: 14px !important;
  color: #333f48 !important;
}

.transform-component-module_wrapper__1_Fgj {
  height: 90vh !important;
}
