@import "../../../../index.scss";

.transform-component-module_wrapper__1_Fgj {
  width: 100% !important;
  height: 85vh !important;
  overflow: hidden !important;
  background: rgba(150, 150, 150, 0);
}

.tools {
  position: fixed;
  z-index: 9;
  right: 0.5vw;
  top: 52vh;
}

.menuToltip {
  border-bottom: 1px solid $color-white;
  padding: 5px 5px 5px 5px;
  a,
  span {
    color: $color-white !important;
  }
  a:hover {
    font-weight: bold;
  }
}

.messageOrg {
  position: absolute;
  top: 23vh;
  right: 5vw;
  width: 273px;
  height: 128px;
  background: $color-base;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.question {
  font-size: 90px;
  color: rgba(255, 255, 255, 0.23);
}
