@import "../../index.scss";

.btnTabs {
  position: absolute;
  right: 30px;
  bottom: 80px;
}

.row {
  width: 100%;
  padding-top: 16px;
  .ant-row {
    margin-top: 16px;
  }
}

.part1 {
  background: lightcoral;
  padding-right: 0px !important;
}

.info2 {
  width: 100%;
  text-align: center !important;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: 20px !important;
}

.info3 {
  width: 100%;
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 20px !important;
}

.info3Full {
  width: 100%;
  margin-top: 1px;
  text-align: center !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px !important;
}

.tabsheet1 {
  width: 100%;
  padding-right: 16px !important;
}

.formWork {
  text-align: left;
}

.formPos {
  width: 100vw !important;
  margin-top: 20px;
  height: 32px;
}

.tagNombre {
  background: $color-input;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  color: $color-white !important;
  font-size: 1.4vw !important;
  padding-left: 10px;
}

.tagNormal {
  background: #5e6d88;
  color: $color-white !important;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.areasdiv {
  width: 100%;
  background: $color-hover;
  height: 32px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-left: 16px;
}
.areasdiv:hover,
.subareasdiv:hover {
  background: $secuA;
}

.subareasdiv {
  width: 100%;
  background: $color-hover;
  height: 32px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.tagTwo {
  width: 100%;
  background: $color-hover;
  border-radius: 5px;
  border: 0px;
  height: 32px;
  color: #000;
}

.tagThree {
  width: 70%;
  background: $secuA;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 0px;
  height: 25px;
  color: #000;
}

.tagThreeFull {
  width: 100%;
  background: $secuA;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 0px;
  height: 25px;
  color: #000;
}

.autoComplete {
  width: 100%;
}

.TagArea {
  width: 130px;
  background: #5e6d88;
  color: $color-white !important;
  border-radius: 12px;
}

.TagAreaGreen {
  background: $color-base-b;
  color: $color-white !important;
  border-radius: 12px;
}

.TagAreaRed {
  background: $color-red;
  color: $color-white !important;
  border-radius: 12px;
}

.ant-tag-close-icon {
  color: $color-white;
  float: right;
  margin-top: 5px;
}

.divScrool {
  height: 200px;
  overflow-y: scroll;
}

.divScrool::-webkit-scrollbar {
  -webkit-appearance: none;
}

.divScrool::-webkit-scrollbar:vertical {
  width: 10px;
}

.divScrool::-webkit-scrollbar-button:increment,
.divScrool::-webkit-scrollbar-button {
  display: none;
}

.divScrool::-webkit-scrollbar:horizontal {
  height: 10px;
}

.divScrool::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.divScrool::-webkit-scrollbar-track {
  border-radius: 10px;
}

#tabHeadPerfil {
  .ant-tabs-nav-list {
    width: 100%;
    margin-top: 20px;
  }
  .ant-tabs-tab {
    width: 15vw !important;
    background: rgba(255, 255, 255, 0) !important;
    text-align: center !important;
    padding-bottom: 5px !important;
    display: flex;
    justify-content: center;
    color: $color-secondary-text;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $color-principal-text !important;
    font-weight: bold;
  }
  .ant-tabs-content {
    width: 100%;
    height: 62vh;
  }
  span {
    color: $color-principal-text;
  }
  b {
    color: $color-secondary-text;
  }
}
