.ant-modal-confirm-btns,
.anticon-info-circle {
  display: none;
}

.ant-modal-content {
  width: 350px !important;
  text-align: left;
}

.ant-modal-body {
  text-align: center;
  margin-left: -50px;
  padding-left: 75px;
}

.modalPref {
  .ant-modal-content {
    width: 100% !important;
    text-align: left !important;
  }
}
