#toolbar1,
#toolbar2 {
  border: 0px solid #ccc !important;
  padding: 0px !important;
  margin-left: -8px;
  margin-top: 5px;
  .ant-upload {
    width: 180px;
  }
}

#toolbar1 button {
  width: 20px;
}

#editor1 {
  width: 296px !important;
  .ql-editor {
    width: 296px !important;
    height: 110px;
  }
}
#toolbar1 .ql-container.ql-snow {
  border-radius: 5px;
}

#editor2 {
  .ql-editor {
    height: 72px !important;
    width: 347px !important;
  }
}
