$contorno: #394a7626;

//color de fondo del menu desplegable
$secuA: #dbfcff;
$GreenMarker: #66bb6a;
$color-orange: #fcb74d;

//colores

$color-base: #2cccd3;
$color-secu-a: #b7dde1;
$color-secu-b: #006271;
$color-secu-c: #333f48;
$color-secu-d: #c1c6c8;
$color-base-b: #aadb1e;
$color-principal-text: #00205b;
$color-secondary-text: #5e6d88;
$color-input: #aab4c8;
$color-margin: #e2e6ec;
$color-hover: #f4f6fb;
$color-font: #f2f4f8;
$color-link: #579bfc;
$color-white: #ffffff;
$color-yellow: #d3c02c;
$color-red: #d32c2c;
$color-pendings: #ff5d5d;

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f4f8 !important;
}

body,
html {
  min-height: 100vh;
  height: auto;
  background: #f2f4f8 !important;
}

code {
  font-family: "Lato";
}

.ant-select-selector,
input .ant-input,
input[type="text"],
input[type="password"],
input[type="number"] {
  height: 32px !important;
  border-radius: 4px !important;
}

textarea.ant-input {
  border-radius: 4px !important;
}

.ant-dropdown-menu-item-disabled,
.ant-dropdown-menu-submenu-title-disabled {
  color: rgba(0, 0, 0, 0.25) !important;
}

.title2 {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: $color-principal-text !important;
}

.title1 {
  text-align: left;
  font-size: 18px;
  color: $color-principal-text !important;
}

.ant-modal-content {
  box-shadow: -1px 1px 16px #3d4f8060 !important;
  border-radius: 8px;
}

.ant-modal-header {
  border-radius: 8px 8px 0px 0px;
}
.ant-modal-title {
  color: $color-principal-text !important;
  font-weight: bold;
  font-size: 16px !important;
}

.secondaryText,
label {
  color: $color-secondary-text !important;
}

label {
  font-weight: bold;
}

.square {
  width: 100%;
  height: 80vh;
  background: $color-white;
  border-radius: 10px;
  h1 {
    font-size: 21px !important;
    color: $color-principal-text;
  }
  p {
    font-size: 14px !important;
    color: $color-secondary-text;
  }
}

.screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: justify;
  z-index: 99999999;
}

.primary {
  background: $color-base !important;
  color: $color-white !important;
  border: 1px solid $color-base !important;
  border-radius: 4px !important;
  height: 32px;
  width: auto;
}

.primaryB {
  width: 150px;
  background: $color-base !important;
  color: $color-white !important;
  border: 1px solid $color-base !important;
  border-radius: 4px !important;
  height: 32px;
  font-weight: bold;
}

.primaryC {
  width: 80px;
  background: $color-base !important;
  color: $color-white !important;
  border: 1px solid $color-base !important;
  border-radius: 5px !important;
  height: 32px;
  font-weight: bold;
}

.secondary {
  border-radius: 5px;
  background: $color-white !important;
}

.secondaryB {
  border-radius: 5px;
  border: 1px solid $color-base !important;
  color: $color-base !important;
  background: $color-white !important;
}

.link {
  color: $color-link !important;
}

.linkBold {
  color: $color-link !important;
  font-weight: bold;
}

.tab {
  width: 100%;
  height: auto;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background: $color-base;
  color: $color-white;
  border-radius: 10px 10px 0px 0px !important;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.ant-tabs-tab-active {
  background: $color-white !important;
  color: $color-base !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.ant-tabs-tab-btn {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.tabPane {
  background: $color-white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-top: -20px;
  padding: 0px 20px 0px 30px;
  font-size: 16px;
}

.card {
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

.cardDefault {
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
  p {
    text-align: justify;
  }
  h2 {
    color: $color-principal-text;
    font-size: 21px !important;
    font-weight: bold;
  }
  label {
    font-weight: bold;
  }
}

.points {
  background: $color-white !important;
  color: #000 !important;
  border: 0px solid #000 !important;
  margin-left: -10px;
  margin-top: -20px;
}

.third {
  width: 180px;
  color: $color-link;
  border: 1px solid $color-link;
  font-weight: bold;
}

.thirdBtn {
  width: 176px;
  height: 32px;
  color: $color-link;
  border: 1px solid $color-link;
  font-size: 14px !important;
  font-weight: bold;
}

.thirdBtnTwo,
.thirdBtnTwo:hover,
.thirdBtnTwo:focus {
  width: 136px;
  height: 32px;
  color: $color-link;
  border: 1px solid $color-link;
  font-size: 14px !important;
  font-weight: bold;
}

.iconGreen {
  color: $color-base !important;
}

.iconGreenTwo {
  color: $GreenMarker !important;
}

.iconGray {
  color: $color-secondary-text !important;
}

.iconRed {
  color: $color-red !important;
}

.iconSureGray {
  color: $color-input !important;
}

.iconBlue {
  color: $color-link !important;
}

.iconBluehard .material-icons,
.primaryText {
  color: $color-principal-text !important;
}

.primaryTextBold {
  color: $color-principal-text !important;
  font-weight: bold !important;
}

.titleText {
  font-size: 22px;
  font-weight: bold;
  color: $color-principal-text !important;
}

.btnBlue,
.btnBlue:hover,
.btnBlue:focus {
  background: $color-link !important;
  color: $color-white !important;
  border: 0px;
}

.iconsize {
  font-size: 16px;
  cursor: pointer;
}

.iconsize1 {
  font-size: 18px;
  cursor: pointer;
}

.iconsize2 {
  font-size: 22px;
  cursor: pointer;
}

.iconsize2:hover {
  color: $color-base;
}

.iconsize3 {
  font-size: 32px;
  cursor: pointer;
}

.iconsize5 {
  font-size: 48.4px;
  cursor: pointer;
}

.iconAjust {
  margin-right: 20px;
  margin-top: -5px;
  font-size: 30px;
  position: absolute;
  left: 10px;
}

.iconAjust2 {
  margin-right: 20px;
  margin-top: px;
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.textAjust {
  float: right;
}

.textAjust2 {
  float: right;
  margin-right: 20px !important;
}

.textAjust3 {
  float: right;
  margin-right: -15px !important;
  margin-top: -3px;
}

.textAjust4 {
  float: right;
  margin-right: 5px !important;
  font-weight: bold;
}

.textAjust5 {
  float: right;
  margin-right: 90px !important;
  margin-top: -3px;
}

.select {
  width: 100% !important;
  margin-top: 15px;
}

.formLogin2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.smallModal {
  .ant-modal-body {
    width: 110% !important;
    text-align: left;
  }
}

.renameModal {
  width: 360px !important;
  height: 208px !important;
  .ant-modal-content {
    width: 360px !important;
    height: 208px !important;
    text-align: left;
  }
  input {
    border-radius: 8px !important;
    height: 32px !important;
  }
}

.branchModal {
  width: 584px !important;
  height: 288px !important;
  .ant-modal-content {
    width: 584px !important;
    height: 288px !important;
    text-align: left;
  }
  input {
    border-radius: 4px !important;
    height: 32px !important;
  }
}

.borderPicture {
  width: 535px;
  height: 188px;
  text-align: center;
  border: 2px dashed #90a4ae;
  border-radius: 4px;
  .ant-upload-drag-icon {
    width: 530px;
    height: 180px;
    margin-top: -20px;
  }
}

.photoModal,
.cropModal {
  width: 584px !important;
  height: 442px !important;
  .ant-modal-content {
    width: 584px !important;
    height: 442px !important;
    text-align: left;
  }
}

.antd-img-crop-modal {
  .ant-modal-content {
    width: 584px !important;
  }
  .ant-modal-footer {
    height: 50px;
    .ant-btn + .ant-btn:not(.ant-dropdown-trigger),
    .ant-btn {
      margin-left: 16px;
      border-radius: 4px;
    }
  }
}

.passwordModal {
  width: 584px !important;
  height: 256px !important;
  .ant-modal-content {
    width: 584px !important;
    height: 256px !important;
    text-align: left;
  }
  p,
  label {
    color: $color-secondary-text;
    font-size: 14px;
  }
  input {
    border-radius: 4px !important;
    height: 32px !important;
  }
}

.eraserModal {
  width: 584px !important;
  height: 232px !important;

  .ant-modal-content {
    width: 584px !important;
    height: 232px !important;
    text-align: left;
  }
  label {
    color: $color-secondary-text;
  }
  input {
    border-radius: 4px !important;
    height: 32px !important;
  }
}

.TeamModal {
  width: 760px !important;
  height: 656px !important;
  .ant-modal-content {
    width: 760px !important;
    height: 656px !important;
    text-align: left;
  }
}

.videoModal {
  width: 864px !important;
  height: 520px !important;
  .ant-modal-header {
    text-align: center;
  }
  .ant-modal-content {
    width: 864px !important;
    height: 520px !important;
    text-align: left;
  }
}

.competenciesModal {
  width: 576px !important;
  height: 536px !important;
  .ant-modal-content {
    width: 576px !important;
    height: 536px !important;
    text-align: left;
  }
}

.ColorModal {
  width: 360px !important;
  height: 208px !important;
  text-align: left;
  .ant-modal-content {
    width: 360px !important;
    height: 208px !important;
    text-align: left;
  }
}

.recognitionModal {
  width: 608px !important;
  height: 480px !important;
  text-align: left;
  .ant-modal-content {
    width: 608px !important;
    height: 480px !important;
    text-align: left;
  }
}

.PermissionsModal {
  width: 320px !important;
  height: 384px !important;
  text-align: left;
  .ant-modal-content {
    width: 320px !important;
    height: 384px !important;
    text-align: left;
  }
  .ant-modal-body {
    padding: 10px 10px 10px 75px;
  }
  #PermissionsList span {
    font-size: 14px;
    color: $color-secondary-text;
  }
}

.MessagesModal {
  width: 368px !important;
  height: 312px !important;
  text-align: center !important;
  .ant-modal-content,
  .ant-modal-confirm-body {
    width: 368px !important;
    height: 312px !important;
    text-align: center !important;
  }
  h3,
  h2 {
    color: $color-principal-text;
  }
}

.selectAreaModal {
  width: 408px !important;
  height: 288px !important;
  .ant-modal-content {
    width: 408px !important;
    height: 288px !important;
    text-align: left;
  }
  .ant-modal-body {
    height: 180px;
  }
}

.updateModal {
  width: 392px !important;
  height: 440px !important;
  text-align: center !important;
  .ant-modal-content {
    width: 392px !important;
    height: 440px !important;
    text-align: center !important;
  }
  .ant-modal-footer {
    margin-top: -15px;
  }
}

.objetiveModal {
  width: 776px !important;
  .ant-modal-content {
    width: 776px !important;
    text-align: left;
  }
  .graph {
    width: 720px !important;
    height: 253px !important;
  }
}

.smallModal2 {
  .ant-modal-content {
    width: 330px !important;
    text-align: left;
  }

  .ant-modal-body {
    height: 80px !important;
  }
}

.largeModal {
  .ant-modal-content {
    width: 750px !important;
    text-align: left;
  }
}

.eraserList {
  width: 864px !important;
  height: 584px !important;
  .ant-modal-content {
    width: 864px !important;
    height: 584px !important;
    text-align: left;
  }
  .ant-modal-body {
    height: 470px !important;
  }
}

.HistorialJobModal {
  width: 864px !important;
  height: 584px !important;
  .ant-modal-content {
    width: 864px !important;
    height: 584px !important;
    text-align: left;
  }
  .ant-modal-body {
    height: 470px !important;
  }
  #historialjob b,
  #historialjob span {
    color: $color-secondary-text;
  }
}

.ModalHistorialCollaborator {
  width: 864px !important;
  height: 584px !important;
  .ant-modal-content {
    width: 864px !important;
    height: 584px !important;
    text-align: left;
  }
  .ant-modal-body {
    height: 470px !important;
  }
  #historialjob b,
  #historialjob span {
    color: $color-secondary-text;
  }
}

.middleModal {
  .ant-modal-content {
    width: 500px !important;
    text-align: left !important;
  }
}

.middleModal2 {
  .ant-modal-content {
    width: 500px !important;
    height: 230px;
    text-align: left !important;
  }
}

.modalCuztom {
  .ant-modal-content {
    width: 400px !important;
    text-align: left !important;
  }
}

.dividerLeft {
  border-left: 1px solid $color-margin;
}

.dividerLeftbold {
  border-left: 2px solid $color-margin;
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dividerBottom {
  border-bottom: 1px solid $color-margin;
  width: 90%;
}

.dividerBottom2 {
  border-bottom: 1px solid $color-margin;
  width: 95%;
}

.dividerBottomFull {
  border-bottom: 1px solid $color-margin;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.showBlock {
  display: block;
}

.showInline {
  display: inline-block;
}

.roundBtn {
  border-radius: 10px !important;
}

.roundBtnFull {
  border-radius: 50% !important;
}

.primaryInvert {
  color: $color-base !important;
  background: $color-white !important;
  border: 1px solid $color-base !important;
}

.principalColorText {
  color: $color-principal-text !important;
}

.cardDefault2 {
  width: 100%;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 0px 5px 1px rgba(218, 174, 174, 0.3);
  border-radius: 8px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
  width: 32px;
  height: 32px;
  color: #fff;
  border-radius: 50%;
  background: $color-secondary-text;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  margin-top: 80px;
  margin-left: 65px;
}

.ant-upload-list-text-container {
  display: none;
}

.alignCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-tooltip-inner{
  background: #FFFDE7 !important;
  color: #37474F;
}